.header_container{
  background: #2c2c2c;
  padding:10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#fff;
}

.header_container img{
    width: 54px;
    height: 80px;
    margin-bottom: -6px;
    margin-top: 33px;
    margin-left: 25px;
}

.header_container nav ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family:Arial, Helvetica, sans-serif;
}
.header_container nav ul li{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}
.header_container nav ul li:last-child{
  padding-right: 10px;
}

.btn{
  padding: 15px 30px;
  border-radius: 50px;
  background: white;
  margin-right: 10px;
  transition: opacity .4s ease;
  display: block;
  text-decoration: none;
  color: black;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.btn:hover{
  opacity: .6;
}