.header_container {
  padding: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  position: absolute;
  z-index: 1000;
}

.header_container img {
  width: 50px;
}

.header_container nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header_container nav ul li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}
.header_container nav ul li:last-child {
  padding-right: 10px;
}

.header_container nav {
  position: fixed;
  height: 60px;
}
