body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Geometria";
  src: url("./fonts/geometria-webfont.woff") format("woff"),
    url("./fonts/geometria-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "GeometriaMedium";
  src: url("./fonts/geometria-medium-webfont.woff") format("woff"),
    url("./fonts/geometria-medium-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "GeometriaBold";
  src: url("./fonts/geometria-bold-webfont.woff") format("woff"),
    url("./fonts/geometria-bold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "GeometriaHeavy";
  src: url("./fonts/geometria-heavy-webfont.woff") format("woff"),
    url("./fonts/geometria-heavy-webfont.woff2") format("woff2");
}

h2{
  font-size: 2.5em;
}

*{
  font-family: "Geometria";
}